[2019-10-18 17:37] #402 closed, assigned to steven-esser

[2019-10-18 17:46] DennisClark opened #403 "License Expression on a Conclusion not getting Uploaded"
Using ScanCode-Workbench-macos-x64-3.1.1.tar.gz
Loaded scan results glfw-3.3.tar.gz_scan.json
Created Conclusion on glfw-3.3/deps/mingw and filled in most of the fields.
The license(s) that I pick (both lgpl-2.1-plus and public-domain-disclaimer are offered) disappear from the License Expression field if I Save the Conclusion and then Edit it again.
On the other hand, it appears that there is some

[2019-10-18 17:54] DennisClark commented on #403
I also noticed that the "Feature" field, which has a value of `Support` in SCWB, is not getting populated on the uploaded Product Component.

[2019-10-18 18:50] steven-esser commented on #403
I will take a look at this

[2019-10-21 08:12] tq-krutzc commented on #393
The size is about 21 kB, here is the file:
https://gist.github.com/krutztq/a3fa93e9c8c229b1d25cc0dd7598ad1b

[2019-10-21 16:52] steven-esser commented on #393
@krutztq I can reproduce this with your supplied file and it is certainly some sort of UI bug. I will have to dig a little into this to figure out whats going on. Thanks for the report!

[2019-10-21 18:16] steven-esser opened #404 "Handle scancode output files that include `--only-findings`"
Originally reported here: https://github.com/nexB/scancode-workbench/issues/393

When a scancode results file has the `--only-findings` option present, data gets loaded into the database but the Tree View itself does not get created properly.

scancode-workbench should support the proper loading of scans that include the `--only-findings` option.

[2019-10-21 18:18] steven-esser commented on #393
@krutztq After taking a look at this bug, it looks like the culprit is the `--only-findings` option used during the initial scancode-toolkit scan. This option limits the results file to only list the files/directories that have some sort of license, copyright, email, etc detection. The net effect is `scancode-workbench` cannot recreate the full file tree properly using this limited set of informat

[2019-11-14 21:42] steven-esser commented on #400
#405 merged. Closing this.

[2019-11-14 21:42] #400 closed, assigned to nobody

[2019-11-19 03:47] steven-esser commented on #403
#406 fixes the license_expression problems. Product components should now be created with a correct license_expression value.

As far as the missing "Feature" field, this is missing on the DejaCode side with the product_component API. I have opened a ticket w.r.t. this here: https://github.com/nexB/dejacode/issues/978

[2019-11-19 03:47] #403 closed, assigned to tdruez, steven-esser

[2019-11-25 23:09] johnmhoran opened #407 "Add color to Table View "Processing" message"
It might be helpful to distinguish the Table View `Processing...` message from its surroundings with a bit of color.  I've made a small change to the relevant CSS and will push a commit that sets a light blue background with a darker-blue border.

[2019-11-26 14:30] steven-esser commented on #407
#408 merged, closing this. Thanks @johnmhoran

[2019-11-26 14:30] #407 closed, assigned to johnmhoran

[2019-12-03 19:41] steven-esser commented on #382
#409 merged, closing this.

[2019-12-03 19:41] #382 closed

[2019-12-03 19:53] steven-esser commented on #382
Thanks @johnmhoran

[2019-12-03 20:31] johnmhoran commented on #382
My pleasure @majurg .

[2019-12-06 00:15] johnmhoran opened #410 "Enable narrower display of Path column"
Working on Windows 10 with the latest development branch, using a built .exe.  Often I'm encountering a display of the Path column that is wider than any displayed Path values.  I'm also often seeing wide Path values displayed in full.  In both cases, this leaves precious little room to view any other columns.

I don't have a proposed solution at this point but will find time to examine the code a

[2019-12-06 00:45] johnmhoran commented on #410
I see paths, filenames, file_types etc. are sometimes abbreviated with ellipses.  You can see the entire string by mousing over, which is good, but the ellipses prevent copying the string for use elsewhere (e.g., other scan outputs, Google, DBs and the like).  Forced text-wrap (with fixed or max column widths) might be ugly but would display the entire value and permit copying.

[2019-12-06 01:35] steven-esser commented on #410
This used to be the case until I did some work on #1. You can see the changes I made here: #375. Most of these modifications were done with .css changes, while the ellipsis function is handled via DataTables library.

We do need some way to be able to copy these values (especially path and maybe a handful of others). I am open to any changes, even reverting to past behavior if thats required. The

[2019-12-06 01:39] steven-esser commented on #404
The main problem with this data is how the JSTree tries to render it. It cannot render things correctly when parent/child files and directories are arbitrarily placed (which is the case with `--only-findings`).

This may also be an issue when attempting to implement #355, depending on the approach.

[2019-12-06 01:44] steven-esser commented on #345
https://www.electron.build/configuration/configuration under `fileAssociations` may be useful here.

[2019-12-06 01:45] steven-esser commented on #312
We may want to add azure-pipeline support here as well.

[2019-12-06 01:47] steven-esser commented on #303
This can be accomplished by filtering on "Type", so the mechanism is there to do this. How do you envision this feature/view to be toggled?

[2019-12-06 01:52] steven-esser commented on #270
Consolidations could possibly become conclusions automatically when a scan is loaded.

[2019-12-10 15:03] steven-esser commented on #292
This can be reproduced with large scans that contain many data points on the bar chart. It seems like the total number of items being displayed on the bar chat effects the size of this blank/white space in some way.

[2019-12-10 15:32] steven-esser commented on #242
This goes alongside #270

[2019-12-10 16:41] steven-esser commented on #410
Ideally, we would want fixed height and fixed width for all columns.

[2019-12-10 19:39] steven-esser opened #411 "Setup source-controlled documentation"
Ideally, we need to move to a documentation system that follow the code + release cycle. The wiki has functioned in this way in the past, but it is easy to get out of date and not very navigation friendly.

At minimum for this ticket we need to migrate (and update) the current wiki pages to a `docs/` directory or similar. The docs themselves will be generated with `sphinx`, unless there are object

[2019-12-10 19:40] steven-esser opened #412 "Improve Workbench help menu text and links"
We need to update various user-facing documents and help menus to make it more clear where a user should go if they want to report a bug or request a feature.

At a minimum, we should update the help menu text to point to the GitHub repository where the user can go to report a bug, request a feature or request support. Additionally, we should add a button or buttons on the "Welcome" page linking t

[2019-12-10 21:36] mjherzog opened #413 "Remove Upload Conclusions"
We should remove Upload Conclusions (to DejaCode) from UI and the code. This functionality belongs in a ScanCode workflow outside the Workbench.
Also closing related Issues #338, #339, #391 and #392.

[2019-12-10 21:37] mjherzog commented on #339
See #413

[2019-12-10 21:37] #339 closed

[2019-12-10 21:37] mjherzog commented on #338
See #413

[2019-12-10 21:37] #338 closed

[2019-12-11 06:03] RavindraAnnam opened #414 "Error while saving the SQLLite file into disk"
Hi,
I am getting below error while saving the SQLLite file in to disk .I have given appropriate permissions still getting the error. Please help in this regard.

"You dont have permission to save in this location ".

But i have all permissions required .i tried to save in multiple locations still facing same issue .
I am attaching the error screenshot with this mail.

Regards,
Ravindra.
[SQL Lite

[2019-12-11 18:44] steven-esser commented on #414
@RavindraAnnam How did you extract the scancode-workbench release? There may be some permissions problems depending on the program you used or the way the archive was extracted. You could also try changing the permissions of the scancode-workbench folder; I am unfamiliar on how to do this in Windows, but I would think that there is a way to do this.

Also, in the future, please upload either a `.p

[2019-12-11 19:24] mjherzog commented on #386
The cleanest solution would be to provide a table below each pie-chart with the number for each element that appears in the pie-chart.

[2019-12-11 19:26] mjherzog commented on #386
adding this to 3.2.0 in the hope that we can do something pretty quickly - the core point is to show the numbers in tandem with the existing % based charts. We  have "room" on each of the current Dashboard pages for a table or chart below each of the existing charts.

[2019-12-11 22:16] steven-esser commented on #386
@mjherzog This is a common use case and I am all for including it in v3.2.0

[2019-12-16 18:52] steven-esser commented on #411
#415 merged, closing this. Docs are now in the main source tree and can be viewed at: https://scancode-workbench.readthedocs.io

[2019-12-16 18:52] #411 closed, assigned to steven-esser, johnmhoran

[2019-12-18 21:02] steven-esser commented on #412
#418 Merged, closing this.

[2019-12-18 21:02] #412 closed, assigned to steven-esser, johnmhoran

[2020-01-06 22:25] steven-esser commented on #413
#420 Merged, closing this.

[2020-01-07 18:50] steven-esser commented on #414
Closing this as @RavindraAnnam has not responded and this does not seem related to scancode-workbench in particular; it seems to be a permissions issue on @RavindraAnnam's side and cannot be reproduced.

[2020-01-07 18:50] #414 closed, assigned to nobody

[2020-02-04 18:24] mjherzog opened #421 "Correct SourceForge download page"
The SourceForge download page for ScanCode Workbench still says AboutCode Manager - https://sourceforge.net/projects/aboutcode-manager/. We have several v3.1.1 releases of ScanCode Workbench from January 2020.
Do we deprecate this download site or correct the information from AboutCode Manager to ScanCode Workbench.

[2020-02-12 23:59] johnmhoran commented on #316
I haven't seen a repeat of this behavior since I opened the issue.  Closing.

[2020-02-12 23:59] #316 closed

[2020-02-13 00:10] johnmhoran commented on #303
How would that filtering produce the desired result?  Let's say I have folder A, containing 2 files and sub-folder B.  Assume sub-folder B also contains several files.  If I select folder A in the tree and filter for Type = file, I see the files in sub-folder B as well as the files in folder A.  Ideally I want just the folder A files to be displayed and not the sub-folder's contents.

[2020-02-13 00:34] johnmhoran commented on #270
@majurg I don't use ScanCode Workbench to create Conclusions so I don't know if this issue remains relevant, but I suspect the Conclusion process has changed since I opened this issue.  I'm inclined to close this unless you think it should stay open.

[2020-02-14 19:46] steven-esser commented on #270
@johnmhoran good point, we have #242 and #390 which are more the direction we want to go with w.r.t. conclusions.

Doing them by hand will still be an option, but it will never be as practical as the above issues once completed.

[2020-02-14 19:46] #270 closed

[2020-02-21 20:08] amansheaven commented on #334
It's really a peculiar behaviour!! can I pick it up?? @majurg

[2020-02-21 20:11] steven-esser commented on #334
@amansheaven Yes feel free.

You may want to look at this for more detail as to what is needed: https://github.com/nexB/aboutcode/wiki/Project-Ideas-Improve-Workbench-Database-Schema

[2020-02-26 01:09] johnmhoran opened #422 "Some Table View filters seem to use substrings rather than values"
Working on Windows 10 with ScanCode Workbench 3.1.1, I see that some (but not all) filters in the Table View display seem to apply the filter by using substrings rather than the values themselves.  For example:

File Size: `3` grabs `*3*`
File Type: `ASCII text` grabs `*ASCII text*`
License Expressions: `lgpl-2.1` grabs `*lgpl-2.1*`
License Key: `lgpl-2.1` grabs `*lgpl-2.1*`

A little over a year

[2020-02-26 02:02] johnmhoran commented on #410
It might also be worth exploring whether DataTables columns can be resized by the user.

[2020-02-26 03:52] johnmhoran opened #423 "Limit Table View search to selected columns"
The search feature in Table View (upper right-hand corner) currently searches all fields, whether or not the user has selected the relevant field/column for display.  As a result, at times it can be unclear why a particular row/resource is among the search results.

While reasonable minds can differ, it might be most useful to limit the search to fields/columns the user has selected for display.

[2020-03-01 10:07] vishnuiiit commented on #423
Sir, I think I can fix this issue, but I cannot find code can u help me?

[2020-03-01 10:37] vishnuagbly commented on #423
Sir, I can fix this issue, I would really like to contact with you, to discuss more about issues and project.

[2020-03-02 06:19] deadpool1999 commented on #423
Hello , I am an aspirer for open source programming techniques.
May I please know where can I find the relevant files for this enhancement.

[2020-03-08 23:48] lakshay-angrish commented on #271
@mjherzog @majurg If you're not working on this, could you assign it to me?

[2020-03-10 07:31] soimsoim opened #425 "(feature request) Allow spdx file to be set as input."
### Description
* This tool is a great tool to see the results of license analysis.
* How about reading spdx files as well as scancode analysis results?

[2020-03-10 16:19] mjherzog commented on #425
I am not sure that this makes sense because:
- The ScanCode Workbench is closely tied to the ScanCode Toolkit data model which is very different from the SPDX data model.
- A Scan file from ScanCode represents data actually found in a Codebase - this is often not the case for SPDX data.
It might be better to propose an SPDX File file-viewer/workbench as an SPDX enhancement.

[2020-03-11 14:50] #271 closed

[2020-03-12 16:34] danzziy opened #426 "--include flage does not work and --ignore only allows you to ignore 1 file type"
### Description
The following are the errors i have encountered:
Error: no such option: --include
And -- ignore will simply not work if there is more than one value after it.
scancode -clpeui -n 3 --ignore "*.js"
scancode -clpeui -n 3 --ignore "*.js, *.cs"

### System configuration
I am using ubuntu and scancode is configured to use Python 2 the ScanCode version is 3.02

[2020-03-12 16:48] steven-esser commented on #426
@danzziy You can specify multiple ignores in the following way:
[code]

[2020-03-12 16:52] steven-esser commented on #426
And `--include` is a valid flag on the latest `v3.1.1` release of scancode. The v3.0.2 release may not have this option. `--include` works the same way as `--ignore` afaik

[2020-03-12 17:01] steven-esser commented on #426
Also note you opened this issue in [ScanCode Workbench](https://github.com/nexB/scancode-workbench/) instead of [scancode-toolkit](https://github.com/nexB/scancode-toolkit)

[2020-03-12 17:52] danzziy commented on #426
Thank you for your help, sorry about posting on the wrong repository!

[2020-03-12 18:02] danzziy commented on #426
scancode ` v3.1.1 ` needs pip3 to install that has solved the `--include` problem and you have solved the `--ignore` problem for me. Thank you!

[2020-03-12 18:02] #426 closed, assigned to nobody

[2020-03-12 18:03] steven-esser commented on #426
Good to hear 👍

[2020-03-15 03:42] sairajsawant commented on #138
Can I take this up for GSOC 2020?

[2020-03-16 00:24] soimsoim commented on #425
The reason I asked for this feature is that this tool is so good that I wanted to see the output of other source code analysis tools through this tool.
Since most other source code analysis tools can print the results in SPDX format, I thought I could utilize this tool if this tool could read SPDX format as input.

However, depending on your comments, it may be appropriate to suggest the SPDX enha

[2020-03-16 00:24] #425 closed, assigned to nobody

[2020-03-16 06:36] chauhanparth210 commented on #422
Hello @johnmhoran , I am Parth and I want to work on this issue.
Thank you.

[2020-03-18 20:11] johnmhoran opened #427 "Doc: Update the RTD documentation"
We want to bring the RTD up-to-date.

[2020-03-19 02:18] mjherzog commented on #427
This Issue is to cover some important immediate work to upgrade the existing ScanCode Workbench documentation at https://scancode-workbench.readthedocs.io/en/develop/.  The current goal is to get a new v3 baseline for documentation based on WB v3.1.1.

The specific near-term content requirements are to:
- Restructure the TOC/Index to emulate what we have for ScanCode Toolkit with logical adaptatio

[2020-03-19 15:15] chauhanparth210 commented on #423
@deadpool1999 , @vishnuiiit  are you working on this issue ?
I want to work on this issue.

[2020-03-19 15:20] vishnuagbly commented on #423
Sorry due to unseen circumstances I will not be able to work on it, I am
really sorry about it

On Thu, 19 Mar 2020, 20:45 Parth P. Chauhan, <notifications@github.com>
wrote:

[2020-03-22 11:34] steven-esser commented on #423
@chauhanparth210 Go for it :)

[2020-03-22 11:36] steven-esser commented on #138
@sairajsawant yes

[2020-03-25 19:05] mjherzog commented on #413
We also need to remove the Upload Conclusions button from the Conclusions View.

[2020-03-25 19:41] steven-esser commented on #413
@mjherzog  This is fixed in the current develop branch. Changes will not be reflected until next release.

I will leave this ticket open till then to avoid confusion.

[2020-04-01 20:31] johnmhoran opened #434 "Update sample scans"
The samples need to be updated from 2.9.2 to the current version of SCTK.

[2020-04-01 20:38] johnmhoran opened #435 "Update or remove copyright date in NOTICE file"
The [copyright date](https://github.com/nexB/scancode-workbench/blob/develop/NOTICE) (currently `2016`) needs to be updated or removed.  My inclination is to remove it.  @majurg  @mjherzog  -- what do you think?

BTW, looks like the mailing address needs to be updated as well.  Updated to . . . ?

[2020-04-01 20:44] mjherzog commented on #435
Philippe has recommended that we drop copyright dates - presumably using our commit logs instead to establish timeline for code.
We do not yet have a new address - timing is unclear on that point for now.

[2020-04-02 16:01] steven-esser commented on #435
#433 merged, closing this.

[2020-04-02 16:01] #435 closed, assigned to johnmhoran

[2020-04-02 16:01] steven-esser commented on #434
#433 merged, closing this.

[2020-04-02 16:01] #434 closed, assigned to johnmhoran

[2020-04-13 23:30] mjherzog commented on #10
Closing as stale.

[2020-04-13 23:30] #10 closed

[2020-04-14 00:06] mjherzog opened #436 "Reset SCWB Column Names to match SCTK JSON names"
### Background
The Column headings currently displayed in SCWB v3 are mostly similar to the corresponding field names from the input JSON file where the string style name from the JSON file is usually translated to separate words - e.g. JSON name "license__key" is displayed as "License Key".
The primary exception to this pattern is for the Conclusions fields which do not exist in the Scan file.

#

[2020-04-14 08:45] nitin10s opened #437 "Hamburger Menu for Expand and Collapse of Side Menu Bar"
### Description
The side menu bar should have an expand-collapse enabling button so that new users can use it to understand what all the options present mean.

![Capture (1)](https://user-images.githubusercontent.com/16988558/79204527-523b5d00-7e5a-11ea-8cdb-cbd12355dd84.png)

[2020-04-14 08:57] nitin10s commented on #437
Something like this:
![Group 9](https://user-images.githubusercontent.com/16988558/79205771-feca0e80-7e5b-11ea-88d4-302c815b6e33.png)

[2020-04-14 09:12] nitin10s opened #438 "Doc: Some Icons in Side Menu Bar are unclear"
### Description
I propose the following new icons:
Welcome Page:
![home (1)](https://user-images.githubusercontent.com/16988558/79206626-3c7b6700-7e5d-11ea-8f33-9acab4815670.png)

File Info:
![folder](https://user-images.githubusercontent.com/16988558/79206632-3eddc100-7e5d-11ea-881b-effa295b886b.png)

[2020-04-14 10:59] nitin10s opened #439 "Doc: An Interactive Product Tour Guide for New Users"
### Description
Step-By-Step Guide or Product Tour of the features and application for the first time installers. [Something like https://introjs.com/], so new users could know:

1. How to start using the application
2. What are all the features and views that users can utilize
3. Where are all the options located

[2020-04-14 13:45] steven-esser commented on #437
I like this initial idea. It may look good without the borders as well.

[2020-04-15 15:28] nitin10s opened #440 "Doc: Confusion with the Help Sections"
### Description
Currently, the ways to access documentation and Help are:
1. On the left menu bar
2. On the top main menu

This can be unnecessarily confusing and should be merged into one.

Also, there are some discrepancies like:
1. In Basics: The Link "ScanCode Workbench" opens Views, "Building" and "Platform Support" are not so important for users and could be included in the wiki itself and n

[2020-04-16 16:13] mjherzog commented on #439
Our current focus is to upgrade the primary documentation at https://scancode-workbench.readthedocs.io/en/develop/#. The Getting Started section is intended to cover 1 and HowTo Guides is intended to cover 2 and 3.

[2020-04-16 16:20] mjherzog opened #441 "Doc: Update UI Reference Section"
### Description
The purpose of the UI Reference section (https://scancode-workbench.readthedocs.io/en/develop/#) is to provide very basic information about each View or Dashboard in the application so that a reader can quickly understand what UI they will see.

We also need to replace the old gif images with simpler "static" png images from a Scan of https://sourceforge.net/projects/e2fsprogs/file

[2020-04-16 16:23] mjherzog commented on #438
It does probably make sense to use a Home icon for the Welcome page in the side menu, but the proposed Info icon does not seem any more "clear" than the current icon.

[2020-04-16 17:29] nitin10s commented on #438
Ok, maybe, yes, the new one just had "i" written on a file. But I kind of agree it's not making it much clearer.

[2020-04-16 17:30] nitin10s commented on #439
No I mean an interactive tour that shows where all the features are located. Check the demo on https://introjs.com/. Something like that.

[2020-04-16 17:57] mjherzog commented on #439
@nitin1 We need to focus on improving the existing RTD documentation before adding an interactive tour which is much more complex to create and update.

[2020-04-17 14:09] nitin10s commented on #439
Oh ok.

[2020-04-17 15:16] nitin10s opened #442 "Scrollbar disappears when we open the Table View via a specific property from Chart Summary View"
### Description
Refer to the video below, no scrollbar appears on selecting a particular filter from Chart Summary and opening the Table View with that filter.

![ScanCode-Workbench-sample1 sqlite-2020-04-17-20-34-38](https://user-images.githubusercontent.com/16988558/79584689-5d0d2080-80ec-11ea-8bfe-02ed3aa42a1e.gif)

See, how the scroll bar doesn't appear

opening
### System configuration
For bu

[2020-04-17 15:28] nitin10s opened #443 "No results found in Table View even when there are files reflected in Chart Summary View"
### Description
Refer to the video below, the Chart Summary View shows that there are entries with the respective filter, but on opening the Table View, the entries don't appear.
This happens with many of the filters.

![No-results-found](https://user-images.githubusercontent.com/16988558/79585653-ba55a180-80ed-11ea-8cf6-4d234ea57047.gif)

[2020-04-17 15:28] nitin10s opened #444 "Single Click Doesn't work on Long names in Chart Summary View"
### Description
Refer to the video below, I observed when the filter name is too long, single click that generally opens the Table View doesn't work. On clicking twice or thrice, the Table View opens up.

![Single-Click-Doesn_t-Work](https://user-images.githubusercontent.com/16988558/79586001-318b3580-80ee-11ea-8396-094367a31fe2.gif)

[2020-04-17 20:10] steven-esser commented on #439
@nitin10s This may be a good idea sometime in the very far future. For now, there is too much work to be done on the initial doc side before we can think about something like this.

[2020-04-17 20:11] steven-esser commented on #440
@nitin10s I think we are pretty open to suggestions here. I think at the very least we should have a link to the docs from the welcome page.

[2020-04-17 20:13] steven-esser commented on #442
I think we need to trigger a "click" action on the JS tree when drilling down from a bar chart.

[2020-04-17 20:14] steven-esser commented on #443
We will need to narrow down which exact values cause this behavior in order to properly debug this. Thanks for the report.

[2020-04-17 20:16] steven-esser commented on #444
This is a similar (if not the same) issue as #443. This is a very common occurence throughout the workbench and is tracked in #334

[2020-04-18 08:50] nitin10s commented on #444
No, I think it's different. Here I mean, due to the long text, the single click functionality doesn't seem to work, so we need to double (sometimes triple) click for opening the Table View.

[2020-04-18 09:03] nitin10s commented on #442
You mean instead of opening the Table View?

[2020-04-18 15:29] nitin10s opened #445 "Extra Unnecessary Margins in Columns [Table View]"
### Description
![Workbench](https://user-images.githubusercontent.com/16988558/79641639-69f64680-81b6-11ea-93b0-8dee77ffcd57.PNG)

The spacing in this column is much more than required. This forces the other columns a very less space [Since the Path column is fixed]. How is the space to allotted decided? Proper margins should be specified for such columns.

Also, giving the functionality to adjus

[2020-04-20 15:59] mjherzog commented on #442
@nitin10s Thank you for the video! This is a very innovative way to show the problem clearly. I have experienced the same problem, but had not figured out a good way to show it with screenshots.

[2020-04-21 20:46] nitin10s opened #446 "A way to report issues quickly from the application itself."
### Description
The application could add a way to report the issues they face there and then without any hassle by including an Issue Report Dialog Box [considering they have an internet connection]

Something like this [A Small Icon in the Lower Right Corner]:
![Web 1920 – 1](https://user-images.githubusercontent.com/16988558/79911854-b489f400-843e-11ea-8eb4-0d72bcd1191f.png)
![Web 1920 – 2](htt

[2020-04-29 09:32] nitin10s opened #447 "Redesigning Welcome Page"
### Description
Please leave a brief description of the bug or feature request:
Not sure where to post my designs, so I am posting it both on Gitter and here. Please review and suggest improvements, if any.
![Wokbench-Welcome](https://user-images.githubusercontent.com/16988558/80581132-58206900-8a2a-11ea-871a-ae4d9103a181.png)

[2020-04-30 14:25] nitin10s opened #449 "License, Package, File Info Redesigned"
### Description
Please leave a brief description of the bug or feature request:
1. Kept the pages almost similar to the current ones following a particular design theme.
![File Info Dashboard](https://user-images.githubusercontent.com/16988558/80721997-84b4ad80-8b1c-11ea-9d8c-2dac4f87578d.png)
![License Info Dashboard](https://user-images.githubusercontent.com/16988558/80722004-87af9e00-8b1c-11ea-

[2020-04-30 14:59] steven-esser commented on #447
@nitin10s I like this iteration of the welcome page a lot.

One thing to make sure is that the documentation links go to our RTD page: https://scancode-workbench.readthedocs.io/en/develop/

As long as you have that, I would be happy to have this.

[2020-04-30 15:02] steven-esser commented on #449
@nitin10s On the file info dashboard, we want to move toward adding some table-like elements here.

See: https://github.com/nexB/scancode-workbench/issues/381 for more suggestions as to what we want to do with these dashboards.

[2020-04-30 15:03] steven-esser commented on #446
@nitin10s Where would these "Errors" be sent to?

[2020-04-30 15:06] steven-esser commented on #445
@nitin10s I agree with this. Some of the problems stem from DataTables (and its plugins), but there is probably ways to get this working how we want it.

[2020-04-30 15:07] steven-esser commented on #444
@nitin10s I see more clearly now. This is definitely some sort of UI bug.

[2020-04-30 15:10] steven-esser commented on #442
@nitin10s No we would still open the table view, we may just need to force a some sort of rendering action to generate the scroll bar. I am no expert in DataTables though, so some other solution may work as well.

[2020-04-30 15:11] steven-esser commented on #438
I am also open to using other icon packs, if they fall under some accessible OSS license.

[2020-04-30 15:20] mjherzog commented on #438
In any case we need to use one set of icons for visual and code simplicity.

[2020-04-30 15:44] nitin10s commented on #447
Indeed. Also if you see, I have reduced the number of different links that were previously present on the welcome screen. Did this to simplify things for the user with only the most relevant links to display. For further information, he could reach to the Help section.

Let me know if these links aren't apt or any other more links should be added to the welcome screen.

[2020-04-30 15:49] nitin10s commented on #446
[Considering the user has a working internet connection] we could create a new database for these or add these into some existing databases if any. Or a better solution, we could get these errors mailed to us directly without creating any new DB.

[2020-04-30 19:24] nitin10s commented on #449
Okay will look into this.

[2020-05-03 10:05] nitin10s commented on #381
I agree that the separate bar chart option makes it much more accessible. In my opinion, we should not remove the chart summary. What we can do is add an " Open Bar Chart" option under the Pie chart that redirects the user to the Bar Chart Summary View. This would make it more convenient to the user. What'd you say? @majurg @mjherzog

[2020-05-12 12:54] nitin10s opened #451 "Table View Redesigned"
### Description

Redesigned the Table View
![Table View – 1](https://user-images.githubusercontent.com/16988558/81693473-93d11f00-947d-11ea-913b-c232c20e4907.png)

Made one more design with respect to the discussions on Gitter [Toggle for Activating Filters]
![Table View](https://user-images.githubusercontent.com/16988558/81693569-be22dc80-947d-11ea-8bde-ed98972d2355.png)

[2020-05-12 14:08] steven-esser commented on #451
@nitin10s what does it look like with the rows in place?

[2020-05-15 14:36] nitin10s commented on #451
![Table View](https://user-images.githubusercontent.com/16988558/82062264-7c956a00-96e7-11ea-9e4d-b85f95d84b23.png)
Something like this... a scrollbar on the bottom of the table as it is now.

[2020-05-15 19:14] steven-esser commented on #451
This looks great 👍

[2020-06-02 15:36] steven-esser commented on #451
@nitin10s Ping, I would be happy to review and merge any changes you have here. The visual design is quite nice!

The same goes for the other issues you have opened.

[2020-06-12 22:57] mjherzog commented on #451
Wondering if combining the filter with column headings will impact the number of columns you can display.

[2020-06-12 23:01] mjherzog opened #452 "Improve Conclusions Help/Documentation"
This Issue is an enhancement for the Edit Conclusion modal window to to make it more clear which fields are usually based on Scan data versus Conclusion-only data.

1. Scan-based fields are:
- License Expression
- Owner
- Copyright
- Programming Language
- Homepage URL
- Download URL
- License URL
- Notice URL

Although you can enter data into these fields directly, a primary feature for these fie

[2020-06-13 00:27] mjherzog opened #453 "Correct column names to singular"
Our standard is to use singular column names even though a field may contain multiple values.
The following column names from SCWB v3.1.1 should be reset to singular:
- Copyright Statements
- Copyright Holders
- Copyright Authors
- License Expressions
- Scan Errors

[2020-06-14 10:12] nitin10s commented on #451
@majurg Actually, I am just a UX designer and was wanting to suggest some redesigning with better user experience. Incase anyone volunteers to design these, I would be very happy to help him along the process providing all the necessary design specs required.

@mjherzog Yes, it reduces of columns displayed at an instance. We can maybe restrict the filter box width with respect to the original colu

[2020-06-14 18:04] steven-esser commented on #451
@nitin10s Ah that makes sense. Are all the assets created by yourself?

[2020-06-14 18:44] nitin10s commented on #451
@majurg Yes, everything has been designed from scratch. Also, I am well versed with the frontend development tech and would be happy to collaborate and assist someone who takes up the implementation work 😃.

[2020-07-24 12:23] kkoehne opened #457 "ChartSummaryView shows wrong summary for directory that is a substring of another"
The Charts Overview page seems to sometimes show additional content from another directory that is similarly named. I could reproduce this e.g. for two different directories 'A', 'AA'.

### Description
I have a directory tree with two subdirectories, one named 'A' and another one named 'AA'
* I select 'A' in the directory tree, and select 'Chart Summary View' in the 'View menu'
* I select 'License

[2020-07-24 12:34] kkoehne commented on #457
![Workbench-issue-457](https://user-images.githubusercontent.com/1202002/88391552-b2775e80-cdba-11ea-816e-93368ba7ddae.PNG)

[2020-07-24 12:36] kkoehne commented on #422
Note that there's also a similar error in the 'Chart Summary View': https://github.com/nexB/scancode-workbench/issues/457

[2020-07-24 12:38] kkoehne commented on #457
Minimal .json file to reproduce (packaged as a .zip, so I could actually upload it):

[workbench-issue-457.zip](https://github.com/nexB/scancode-workbench/files/4971926/workbench-issue-457.zip)

[2020-07-24 14:04] pombredanne opened #458 "In the package view, present rows for package and not for files as major"
### Description
When I look at packages, I would expect to see a list of packages only (and possibly some way to drill down by files). Instead we have a list of files with aggregated package data. This possibly confusing when there are more than one package at a given directory of file level

[2020-07-24 15:12] pombredanne commented on #457
@kkoehne Thank you ++ for this report!

[2020-07-24 22:35] steven-esser commented on #457
@kkoehne Thanks

[2020-08-24 11:12] 112002 opened #459 "documentation"
### Description
Please leave a brief discription of the bug or feature request:
* if reporting a bug, tell us how to reproduce the issue.
* Check the Develop Console tab and copy any error text there might be: https://scancode-workbench.readthedocs.io/en/develop/basics/check_for_errors_in_the_developer_tools.html

### System configuration
For bug reports, it really helps us to know:
* What OS are

[2020-08-24 11:57] pombredanne commented on #459
There is no issue in this ticket. So I am closing for now.

[2020-08-24 11:57] #459 closed, assigned to nobody

[2020-10-23 19:46] Abhigyankrsingh opened #463 "Grammatical errors in index.rst, create-conclusions.rst,NOTICE, and in README.md"

[2020-10-24 07:05] #463 closed, assigned to nobody

[2020-10-24 07:21] Abhigyankrsingh opened #465 "There are some grammatical errors in NOTICE and in LICENSE."

[2020-10-26 06:02] sohamsshah commented on #458
Hey! I just came across this project and found quite interesting! Can you elaborate this issue? I would love to contribute to this project😁

[2020-10-26 15:07] steven-esser commented on #458
The gist of this feature request is to have some sort of view that only displays `packages` data after importing a scan.

This info is in the sqlite file after scan importing, so the majority of the work here would be to create a view for only this package data.

[2020-10-26 15:11] steven-esser commented on #465
@Abhigyankrsingh These changes are not relevant and many of them are simply incorrect. I am closing this.

If you are interested in contributing to the project, please take a look the issues page: https://github.com/nexB/scancode-workbench/issues

[2020-10-26 15:11] #465 closed, assigned to nobody

[2020-11-19 05:59] kshitij86 commented on #458
@majurg I would like to create the view for the `packages` data. Can I get assigned to implement this enhancement?

[2020-12-01 05:00] devil-cyber commented on #453
Hey @mjherzog can you please explain this issue to me, I would like to work on this issue ?

[2020-12-01 05:02] devil-cyber commented on #444
Hey can I work on this issue

[2020-12-03 18:02] steven-esser commented on #444
@devil-cyber Sure :)

[2020-12-12 16:29] NinaPacifier commented on #453
Hey @mjherzog, Can I work on this issue??

[2020-12-14 15:31] steven-esser commented on #453
@devil-cyber The issue description has a decent explanation of the problem. Is there a specific question you had?

@NinaPacifier Sure

[2020-12-18 09:20] kopal960 commented on #452
@mjherzog Can I work on this issue ?

[2020-12-21 13:13] Ayushsunny commented on #447
I wanna work on this issue.

[2020-12-21 13:13] Ayushsunny commented on #452
I wanna work on this issue.

[2020-12-21 14:56] steven-esser commented on #452
@Ayushsunny: Feel free, all open issues are free to work on.

[2020-12-28 05:39] kopal960 opened #471 "Build configuration error : No output was received(Job errored)"
### Description
#### Bug report
Build for the scancode-workbench at travis-ci.org for #470 is failing.
Following is the error log :
[code]
Here are the complete build logs : https://travis-ci.org/github/nexB/scancode-workbench/builds/751369530

### System configuration
The changes in #470 were made using windows operating system.

[2020-12-28 18:55] steven-esser commented on #471
@kopal960 Thanks for this.

If I recall, this is related to a broken Sourceforge upload location for windows builds.

[2021-01-06 20:16] pranav1698 commented on #458
@pombredanne @majurg isn't this feature already present in the application
After importing the json, I can see the parent package and also drill down to other packages and files present in the imported package
![Screenshot from 2021-01-07 01-46-22](https://user-images.githubusercontent.com/34754265/103815966-2d42e600-508a-11eb-9227-aee9c6b3753e.png)

[2021-01-06 20:25] pranav1698 commented on #453
@NinaPacifier are you working on this?
I would like to work on this one

[2021-01-06 21:57] steven-esser commented on #458
@pranav1698 The feature to display package data has always been there. What is missing is a view that shows ONLY package data, instead of just displaying package data next to non-package items, like random source files etc.

[2021-01-06 21:58] steven-esser commented on #453
@pranav1698 Feel free to tackle this.

[2021-01-06 22:01] pranav1698 opened #473 "Double scroll bar on clicking the Hide all button in ScanCode Data Table"
### Description
**Bug Report**
In the ScanCode Data Table, when I click the **Hide All** button, the application shows double scrollbar at the bottom of the page. I am attaching a screenshot for your reference
![Screenshot from 2021-01-07 03-31-24](https://user-images.githubusercontent.com/34754265/103823825-d55fab80-5098-11eb-8880-187899595af1.png)

### System configuration
For bug reports, it re

[2021-01-06 22:02] pranav1698 commented on #453
@majurg sure

[2021-01-06 22:18] pranav1698 commented on #453
@majurg @mjherzog please review #474

[2021-01-08 20:59] #453 closed, assigned to nobody

[2021-01-10 12:30] chinmaym07 commented on #451
Hey @majurg may I work on this redesigning work.?

[2021-01-10 13:32] chinmaym07 commented on #273
Hey @majurg  Can i work on this issue.
what info to be included in tooltips.?

[2021-01-10 16:04] chinmaym07 commented on #436
Column Names should be replaced by field names from the JSON Scan file.?
Hey @mjherzog can I work on this issue. ?

[2021-01-12 18:15] steven-esser commented on #451
@chinmaym07 Yes of course :)

You will probably want to sync with @nitin10s, as he has been kind enough to offer his help to potential contributors.

[2021-01-20 14:00] Vishal-raj-1 commented on #447
I am looking forward to this issue !!

[2021-01-25 09:13] Vishal-raj-1 commented on #437
@majurg do you want this ?? @nitin10s Where should be that button (right side of sidebar)?

[2021-01-25 16:07] #447 closed, assigned to nobody

[2021-01-25 16:29] nitin10s commented on #437
Which button @Vishal-raj-1 ?

[2021-01-25 17:27] Vishal-raj-1 commented on #437
I mean you want, we should have one toggle button. So that we can show full side bar or icons. So My Questions is where should be that toggle button.

[2021-01-25 19:27] nitin10s commented on #437
If you see the proposed design, the toggle button is at the bottom.

[2021-01-26 08:10] Vishal-raj-1 commented on #437
Thank you !! Looking forward to this issue

[2021-02-03 16:17] steven-esser commented on #437
#480 merged, closing this. Thanks @Vishal-raj-1.

[2021-02-03 16:17] #437 closed, assigned to nobody

[2021-02-07 09:15] Dhruvitt commented on #473
Hi can i get start on trying to solve the issue also can you give me a head start.

[2021-02-08 20:57] #473 closed, assigned to nobody

[2021-03-15 09:17] s4-2 opened #486 "Update Issue template"
### Description
**Feature Request**
- The Issue template is outdated its need to be updated.
- In Issue Template for the better understanding there should be a different Templates for different issues.
- Like for example if someone wants to report a bug or feature issue there should be a different template for this two issues.

 **Expected Change**:  ISSUE_Template/Bug_Template, Feature_Template.

[2021-03-15 16:05] s4-2 opened #487 "Link need to be added in Report Issue section"
### Description
**Feature**

- The [Report Issue](https://scancode-workbench.readthedocs.io/en/develop/contribute/reporting-issues.html) of scancode-workbench [Documentaion](https://scancode-workbench.readthedocs.io/en/develop/) we must include a link which take the docs reader directly to the New Issue where they can report there issues.

[2021-03-17 04:05] Pushpit07 commented on #487
I'll take up this and add the link

[2021-03-17 04:39] s4-2 commented on #487
Okay, Thank you @Pushpit07 :-)

[2021-03-19 13:41] #487 closed, assigned to nobody

[2021-03-19 13:54] steven-esser commented on #487
This was done by #488. Thanks @Pushpit07

[2021-03-23 11:50] Pushpit07 commented on #486
Working on this

[2021-03-23 14:10] s4-2 commented on #486
@Pushpit07  Okay:)

[2021-03-27 08:31] cnu1812 opened #491 "Getting an error!"
![Screenshot 2021-03-27 134548](https://user-images.githubusercontent.com/75531528/112714942-02d32d00-8f03-11eb-8f5d-a518a8cf1aba.png)
### Description
Please leave a brief discription of the bug or feature request:
While running the main.js in compiler their is an error showing module not found!
* if reporting a bug, tell us how to reproduce the issue.
* Check the Develop Console tab and copy any

[2021-03-27 13:03] Dinesh101041 commented on #491
hi bro why are you using main.js start file

[2021-03-29 16:10] steven-esser commented on #491
@cnu1812 You are running `scancode-workbench` the wrong way. Please follow the directions in the README: https://github.com/nexB/scancode-workbench#building

[2021-03-29 16:10] #491 closed, assigned to nobody

[2021-04-02 16:51] Aayush-hub commented on #423
@majurg Can I work on it?

[2021-04-07 15:53] gat786 commented on #273
I am just guessing that we can add tooltips to those elements and it would all work out fine?
Is there an exhaustive list of on which elements do we want this tooltip to show?
Can I startup with a particular page and then start working there and then go one by one to other pages to add this tooltip everywhere?
Also if I start on say the table page I will have to add tooltips to headers of the tabl

[2021-04-08 09:50] poti1 opened #494 "Must restart the workbench in order reimport the same json file"
### Description

I must restart the workbench in order reimport the same json file

Steps to reproduce:
1. Import a json file into the workbench
2. Select the sqlite file.
3. Click Save
4. Update the json file to include the policy label (using scancode --license-policy FILE)

![image](https://user-images.githubusercontent.com/75398062/114005725-1e71f800-9860-11eb-9b3e-59b92db52a19.png)

### Syste

[2021-04-09 11:31] poti1 opened #495 "Unable to export from workbench"
### Description
I want to export my results, but it does not seem to work.

### System configuration
Windows 10
scancode-workbench 3.1.1
scancode-toolkit 21.3.31
Python 3.6.2

[2021-04-09 12:22] pratik0316 commented on #495
@poti1 please post the error logs too if it's present

[2021-04-10 01:20] steven-esser commented on #273
@gat786 Yes tooltips for those elements would be a great start. Unfortunately we do not have an exhaustive list. I think your approach of incremental addition would be a great start. I think the headers on the Table View would be great candidates for these tooltips; In this case, it would be a very short description of the corresponding header name.

For instance, the tooltip for the `sha1` column

[2021-04-10 01:40] steven-esser commented on #495
@poti1 Can you give more context here? Are you trying to export a results sqlite file OR some user-created set of conclusions?

[2021-04-10 01:42] steven-esser commented on #494
@poti1 This is expected behavior for the time being. Once you import a JSON file, The corresponding sqlite file gets created:
[code]

If you were to then modify `scan.json`, you would need to re-import this to see the changes. `scancode-workbench` does not dynamically load data from scan files.

[2021-04-10 01:42] #494 closed, assigned to nobody

[2021-04-10 14:38] gat786 commented on #273
@majurg I just reviewed the codebase for a while. And the table view is created with the help of a `DataTables` library. I have found where the data is coming from but was not quite sure on how the tooltip will be appended to the `th` which is created by the library for the data. It will be very helpful if you can send a link guiding for the same.

[2021-04-13 00:37] steven-esser commented on #273
@gat786 When running locally, you may be able to use the web view tools to find the element class name.

[2021-04-13 06:47] Aayush-hub opened #498 "JSON file link broken in readme"
### Description
## How to reproduce the issue.
* Scroll to Readme and click Import a JSON file and see the error.

[2021-04-15 05:00] Aayush-hub commented on #498
@majurg @johnmhoran Can you please share the right link for importing json file for documentation updation?

[2021-04-15 05:15] pratik0316 commented on #498
@Aayush-hub if possible  u can create one yourself

[2021-04-15 05:35] Aayush-hub commented on #498
@Pratikrocks Can I replace the json file link by one of the sample json file in the project??

[2021-04-15 05:37] pratik0316 commented on #498
@Aayush-hub I haven't checked that, if that's relevant you may replace with it 👍

[2021-04-16 13:03] Aayush-hub commented on #452
@majurg Is this issue still open for work??

[2021-04-17 10:15] Aayush-hub commented on #449
@majurg Can I work on redesigning issues?

[2021-04-24 06:28] Aayush-hub opened #502 "Support for Python3"
### Description
Please leave a brief discription of the bug or feature request: Python 2.7 is depreciated , so we can add support for python version 3 ,as scancode-toolkit is also updated to that version.
* if reporting a bug, tell us how to reproduce the issue. `run python build.py`
* Check the Develop Console tab and copy any error text there might be: https://scancode-workbench.readthedocs.io/e

[2021-11-26 17:59] mjherzog opened #507 "Errors importing SCTK v30.1.0 Scans"
When importing a -clipeu Scan created with SCTK v30.1.0, the import from JSON fails with 3 errors and 1 warning:

The errors are:

Uncaught (in promise) DatabaseError: SQLITE_ERROR: no such table: flat_files
    at Query.formatError (C:\ABOUTCODE\releases\ScanCode-Workbench-windows-x64-3.1.1.post17.ee52d6f\resources\app.asar\node_modules\sequelize\lib\dialects\sqlite\query.js:423:16)
    at afterE

[2022-01-04 07:47] OmkarPh opened #508 "Error updating dependency versions"
### Description
I'm trying to update dependencies of the project. My forked changes:
[https://github.com/OmkarPh/scancode-workbench/tree/fix/oldDependencies](https://github.com/OmkarPh/scancode-workbench/tree/fix/oldDependencies)

I did npm update & npm install. Also did the electron-rebuild to ensure latest native builds for sqlite3
But am facing the following err:
![image](https://user-images.gi

[2022-01-09 10:48] OmkarPh commented on #508
@pombredanne ^^

[2022-01-09 11:02] OmkarPh commented on #508
I've updated the dependencies to following versions:

[code]

[2022-01-09 16:29] pombredanne commented on #508
@OmkarPh thanks!
on gitter, you mentioned this:

electron/electron#18397

Which one is the problematic native module?

Note also that the v13 is the current official released and maintained version, so sticking to a single version forever is not yet a problem... and I would surmise it will be solved somehow soon.

[2022-01-10 10:14] OmkarPh commented on #508
It was sqlite3 I guess.

Got it 👍

[2022-01-12 09:18] #508 closed, assigned to nobody

[2022-01-12 11:27] OmkarPh commented on #502
Can I try this out

[2022-01-12 11:37] pombredanne commented on #502
@OmkarPh Please!

[2022-01-24 22:07] #502 closed, assigned to nobody

[2022-01-25 22:08] pombredanne commented on #446
For this IMHO having a link that goes straight to GitHub with a prepopulated link would be plenty enough

[2022-01-27 05:16] OmkarPh commented on #446
should i update this link only:
![image](https://user-images.githubusercontent.com/48476025/151296301-a66cc67e-972e-4e86-b6d1-ff30b3077276.png)

Or add a icon in bottom right like @nitin10s showed

[2022-01-27 16:55] pombredanne commented on #446
IMHO for a start, something that would be like https://stackoverflow.com/questions/34146618/pre-populate-the-github-new-issue-form-using-the-querystring and https://docs.github.com/en/enterprise-server@3.1/issues/tracking-your-work-with-issues/creating-an-issue#creating-an-issue-from-a-url-query ....
The trick would be how to prepopulate this nicely for this to be useful.

[2022-01-28 05:48] OmkarPh commented on #446
Hi @pombredanne
before going ahead with this, it think this PR #501 should be dealt with
can you merge / close / propose any changes in this PR

[2022-02-01 13:20] pombredanne commented on #446
@OmkarPh  why would an issue template be required and in the way of this issue? Can you explain?

[2022-02-01 15:19] OmkarPh commented on #446
I'll give an example.
If you click on New issue btn on this repo: https://github.com/layer5io/layer5/issues
You get a list of templates to choose from
For every issue template, there's a defined URL, eg:
https://github.com/layer5io/layer5/issues/new?template=feature_request.md
https://github.com/layer5io/layer5/issues/new?template=bug_report.md

For workbench, if we want to have similar issue temp

[2022-02-02 06:42] pombredanne commented on #242
IMHO we should reconsider the conclusions features to use instead ScanCode.io for a more comprehensive approach.

[2022-02-02 06:43] pombredanne opened #512 "Remove editable conclusions features"
### Description
We should remove the ability to enter conclusions. This should be instead a new design that would be best based on ScanCode.io and automation.

[2022-02-10 11:47] pombredanne commented on #446
@OmkarPh OK, I understand now... for a start this feels a bit to complicated to me, let's start with something simple

[2022-02-11 15:21] OmkarPh commented on #446
@pombredanne
https://github.com/nexB/scancode-workbench/issues/new
current default template should do the work then

[2022-02-11 22:33] Manan17 commented on #445
Can I work on this issue?

[2022-02-13 14:51] #446 closed, assigned to nobody

[2022-02-14 17:19] pombredanne commented on #445
@Manan17 sure thing: no need to ask permission! What would be your approach to this?

[2022-02-22 16:57] johnmhoran opened #514 "Unable to build SCWB on Windows 10"
I discovered in recent days that I am unable to build the current version of SCWB on my Windows 10 laptop using Git Bash.

This process still works when I check out the latest tag -- `v3.1.1` from the latest release, in September 2019 -- and build with Python 2.7.15.
- run `npm install`
- run `./node_modules/.bin/electron-rebuild`
- run `npm start` -- SCWB launched, looked good, displayed some dat

[2022-02-24 18:14] FrySlim commented on #514
I got the same behaviour with Python 3.9.10 building SCWB 3.1.1 today.
Running just 'npm start' works and the SCWB opens up and everything works (except Exporting any JSON/conclusion file).
I am using npm version 8.3.1 and node version 16.14.0.

Best Regards
FrySlim

[2022-02-24 18:39] FrySlim commented on #495
I got the same issue:

1. npm start => SCWB starts
2. "Import ScanCode JSON", selecting a "json-lines" file 'sclicense-output.json' from scancode toolkit 30.1.0 output
3. "Saving a "sclicense-output.sqlite" SQLite Database file in the same directory
4. Doing my conclusion edits, when I am done it looks like this:
![image](https://user-images.githubusercontent.com/42751342/155585251-0a72617b-7ea1-4

[2022-02-24 21:34] pombredanne commented on #514
There is some work in progress, but this in the HEAD of the develop branch, not in the tagged release yet.
Have you tried this too?

[2022-02-25 17:34] FrySlim commented on #514
TL;DR:
Luckily your release 'dist' subdirectory content in ScanCode-Workbench-windows-x64-3.1.1.zip works out of the box with starting "ScanCode-Workbench.exe". And all features work so far.
But I was not able to build the master branch source code (I assume, this is the same content as in source code download https://github.com/nexB/scancode-workbench/archive/refs/tags/v3.1.1.zip )
on my own with

[2022-02-25 17:44] FrySlim commented on #495
Neither with develop branch nor with master branch I got the "npm start" to work. Electron GUI starts but the Open/Save file dialogues  do not appear.

But, the ready built 'dist' release Binaries with ScanCode-Workbench.exe works :-)

[2022-04-16 07:04] OmkarPh opened #518 "Refactor: Shift to Typescript + React"
### Description

Currently workbench is using vanilla js in electron. Shifting to typescript and react can improve development experience in many ways

### Why Typescript
* Reliable and predictable code
* More efficient auto completes, hence better development experience

### Why react
* Modularize workbench
   - Currently workbench has some large js files
      Example, [renderer.js](https://gith

[2022-04-16 07:09] OmkarPh commented on #518
@pombredanne @mjherzog Your thoughts on this

[2022-04-16 07:25] pombredanne commented on #518
@OmkarPh this is looking great!

[2022-04-17 06:14] OmkarPh commented on #451
hi @pombredanne
is this issue still relevant

[2022-04-18 15:30] pombredanne commented on #451
@OmkarPh I think this is still relevant alright.
@nitin10s gentle ping

[2022-04-19 07:10] nitin10s commented on #451
Hey, seems like I lost the file I had these designs in 😢 , I'll replicate the designs and share a figma file in sometime.

[2022-04-19 22:59] pombredanne commented on #451
@nitin10s no worries, we have the mockups here as images still?
Or is a figma file something that has the CSS too?

[2022-04-20 06:23] OmkarPh commented on #451
yes, there is css in figma files,
for example, I created this for recent file uploads - https://www.figma.com/file/Ifn6b54LIb135DORW8NgcR/Workbench-designs?node-id=0%3A1
you have to signup in order to view the css

[2022-04-20 14:59] OmkarPh commented on #512
hi @pombredanne
what is the goal here?

remove this entire screen?
![image](https://user-images.githubusercontent.com/48476025/164260489-fde6d064-5c7c-47b5-a7df-7ef18176bf90.png)

[2022-04-20 15:08] mjherzog commented on #512
The goal is to remove this feature and replace it in the future with a different approach. Part of the goal is to simplify and refactor the code.

[2022-04-20 15:55] OmkarPh commented on #512
so, should I open a PR with this page removed completely?

[2022-04-20 20:53] pombredanne commented on #512
@OmkarPh yes and also remove the corresponding models and related code.

[2022-04-27 17:34] OmkarPh opened #522 "Export JSON doesn't work"
Note - This occurs in develop branch, not the released version.

### Description
* Click on `Export JSON file` from menu item `file` or Use shortcut `cmd+e` / `ctrl+e`
* Choose path to export json to, export
* This gives following error in console:
![image](https://user-images.githubusercontent.com/48476025/165585721-e602076b-c430-4e03-bb30-698e55fa68c8.png)

### System configuration
For bug repor

[2022-04-27 17:35] OmkarPh commented on #522
@pombredanne
Do you know the cause for this?

[2022-04-28 15:58] AyanSinhaMahapatra commented on #522
@OmkarPh this is because of output format mismatch between scancode-toolkit and scancode-workbench, i.e. the scancodo-workbench last release supports a much older scancode-toolkit version (there used to be a header `scancode_notice` which was replaced later).

Apart from this exact failure there are a lot of other major data format mismatches too, this need to be fixed to support later scancode-to

[2022-04-29 05:14] OmkarPh commented on #522
ohh, got it

can you send me link or actual sample files exported from latest scancode-toolkit

I'm not familiar with scancode-toolkit, but i think this should be the latest format : https://scancodeio.readthedocs.io/en/latest/output-files.html#understanding-output-files

[2022-04-29 20:26] AyanSinhaMahapatra commented on #522
Check out https://github.com/nexB/scancode-toolkit-reference-scans/tree/d03c03a2dacd83c89f79241a20633fde9d1caf06/docs/source/outputs and https://github.com/nexB/scancode-toolkit/blob/v30.1.0/tests/scancode/data/rpm/fping-2.4-0.b2.rhfc1.dag.i386.rpm.expected.json for some examples. These are for scancode v30.1.0 btw.

Btw, the output data is evolving fast and you should see a lot of changes in the

[2022-05-04 22:06] johnmhoran opened #523 "Selecting values in filter dropdown sometimes results in a no-matching-records message"
During a recent project, I noticed that after properly activating the column filters, from time to time there were values displayed in a filter that, when selected, resulted in a message that no such records exist (`No matching records found`).  This occurred in SCWB 3.1.1 on a Windows 10 laptop.

[2022-05-09 20:02] mjherzog commented on #226
Closing because we are deprecating the Conclusions feature.

[2022-05-09 20:02] #226 closed

[2022-05-09 20:03] mjherzog commented on #298
Closing because we are deprecating the Conclusions feature.

[2022-05-09 20:03] #298 closed

[2022-05-09 20:04] mjherzog commented on #242
Closing because we are deprecating the Conclusions feature in favor of building it into SCIO.

[2022-05-09 20:04] #242 closed

[2022-05-09 20:06] mjherzog commented on #339
Closing because we are deprecating Conclusions in SCWB in favor of building a more robust feature in SCIO.

[2022-05-09 20:09] mjherzog commented on #452
Closing because we are deprecating Conclusions in SCWB in favor of building a more robust feature in SCIO.

[2022-05-09 20:09] #452 closed, assigned to nobody

[2022-05-09 20:11] mjherzog commented on #245
Closing as out of scope for SCWB. This feature may make sense for SCIO in the future.

[2022-05-09 20:11] #245 closed

[2022-05-09 20:13] mjherzog commented on #180
Closing because it is a workaround for problems that should be resolved in SCTK.

[2022-05-09 20:13] #180 closed

[2022-05-09 20:14] mjherzog commented on #18
Closing because we are deprecating Conclusions in SCWB in favor of building a more robust feature in SCIO.

[2022-05-09 20:14] #18 closed

[2022-05-09 21:16] mjherzog commented on #390
Closing because the SCTK --consolidate option will be deprecated soon

[2022-05-09 21:16] #390 closed

[2022-05-18 05:39] OmkarPh opened #525 "Support latest scancode toolkit"
### Description
* Workbench doesn't support json files from latest scancode toolkit due to lack of updates
* Sqlite can be updated to support latest output json documented here: https://scancodeio.readthedocs.io/en/latest/output-files.html
* Format mismatch causes errors like this: https://github.com/nexB/scancode-workbench/issues/522

[2022-06-06 17:05] OmkarPh opened #528 "Prototype for a new Navbar in React+Typescript"
### Description
I've started prototyping the react+typescript version of the workbench, but since it has a completely different config, I've created a personal repository to share it for now. You can see the code here: https://github.com/OmkarPh/workbench-prototype

You can have a quick look here:
https://drive.google.com/file/d/1T-l55cx6Av28i1wrGNzKhwN3ojZ7xPXS/view?usp=sharing
https://drive.goog

[2022-06-07 23:43] steven-esser commented on #528
This look good, design wise. Do you have an idea of what you want to use for the table and tree view? I seem to recall potential libraries in the gitter chat, but I could be wrong. Just wondering BTW. It would be very nice if the react libraries improve performance in the application, but who knows.

[2022-06-08 05:47] OmkarPh commented on #528
yes, here are some good libraries for table:
https://reactdatagrid.io/demo
https://material-table.com/#/
https://www.npmjs.com/package/mui-datatables

I haven't yet searched about tree view, will do that soon

[2022-06-09 09:19] #512 closed, assigned to nobody

[2022-06-15 14:42] OmkarPh commented on #528
Feedbacks:

@chinyeungli : the sidebar is cool and I like it very much too.. for me, I like "click" to expand more than hover to expand, but maybe that's just me.

[2022-06-15 14:43] OmkarPh commented on #528
We can also think about providing a toggle to the user, whether to auto collapse or not.

[2022-07-26 06:11] OmkarPh opened #531 "Fix native modules issue in Release builds for React+TS version"
Dev mode - Everything works as expected end to end
Release build -
* Build process works without error:
Build steps:
  * Install dependencies: `npm install`
  * Run package script: `npm run package`
  * App is generated in `out/` in the format supported by platform it is built on

![image](https://user-images.githubusercontent.com/48476025/180936131-2aa3ad8b-e0be-441f-9676-9069d87312db.png)

* Run

[2022-07-28 15:14] OmkarPh commented on #531
@steven-esser ^^

[2022-08-18 17:35] OmkarPh commented on #531
Update: Current code in branch v4.0-react-typescript builds fine, but has larger bundle size due to raw node_modules being added into the package(this must be prevented to reduce package size)

[2022-08-23 00:09] mjherzog opened #533 "Update nexB address in NOTICE"
The Third-party software licenses section of the NOTICE file has our old address.
The address should be: 4966 El Camino Real, Suite 119, Los Altos, CA 94022 USA

[2022-08-30 06:18] OmkarPh commented on #525
Update - WIP in branch [v4.0-react-typescript](https://github.com/OmkarPh/scancode-workbench/tree/v4.0-react-typescript)

[2022-09-01 07:44] OmkarPh opened #535 "Better library for displaying charts"
Try an alternative charts library that is both responsive and handles congested charts as well as large pie names

Current library - https://www.npmjs.com/package/c3
It hasn't been updated since 3 years, hence a better up-to-date library is required

[2022-09-01 07:45] OmkarPh opened #536 "Create Top level packages & dependencies explorer"

[2022-09-02 11:11] LeChasseur opened #537 "Enable filtering of dual licensed files"
It is a typical task within a compliance review to identify specific licenses (e.g. GPL-2.0-or-later). There are projects (e.g. Qt) with many files under dual licensing scheme (LGPL-3.0 and GPL-2.0-or-later). For easy tracking it would be helpful to filter those files which are not dual licensed and vice versa.

Enabeling typical search strings from search engines could be a solution (e.g. excludi

[2022-09-02 11:15] LeChasseur opened #538 "Curations and exporting curated results"
Scancode Workbench allows you to check and review scan results. Frequently, there is a need to correct "false positives" and re-export the curated results. Exporting subsets after filtering would also be helpful.

### System configuration

* Linux
* Workbench 3.1.1
* ScanCode version: 31.0.0rc2

[2022-10-10 16:22] OmkarPh opened #540 "Improve design for history section (Good to have)"
One suggestion
![image](https://user-images.githubusercontent.com/48476025/194912511-b81c93b0-b77b-4a01-96c2-d43c2c0f9cb6.png)

[2022-10-17 17:28] OmkarPh opened #541 "Content: Title & Link for No chart fallback"
### Description
What should be the ideal title and links for each of the following chart's fallback?

Here's what is currently in place
* File Info dashboard
  * Programming languages
     Use --info CLI option for programming languages
     https://scancode-toolkit.readthedocs.io/en/stable/cli-reference/basic-options.html#all-basic-scan-options
  * File types
     Use --info CLI option for file t

[2022-10-17 17:29] OmkarPh commented on #541
@AyanSinhaMahapatra @pombredanne ^^

[2022-11-04 15:15] OmkarPh commented on #541
Gentle reminder ^^

[2022-11-08 02:18] mjherzog opened #542 "Empty directory displays file icon"
### Description
In the Table View, empty directories display a file icon instead of a directory icon.

### System configuration
For bug reports, it really helps us to know:
* OS = Windows
* SCWB v4.0beta
* SCTK v31.1.1

[2022-11-11 20:14] AyanSinhaMahapatra commented on #541
@OmkarPh you can use these links (these don't exist yet as the PR above isn't merged and released):

copyright option: https://scancode-toolkit.readthedocs.io/cli-reference/basic-options.html#copyright-option
license option: https://scancode-toolkit.readthedocs.io/cli-reference/basic-options.html#license-option
package option: https://scancode-toolkit.readthedocs.io/cli-reference/basic-options.htm

[2022-11-12 11:41] OmkarPh commented on #541
Thanks @AyanSinhaMahapatra ✌️